# Dependencies
node_modules/
.nitro
.tanstack
.wrangler
.output
.vinxi

# Build output
dist/
dist
dist-ssr

# Environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor
.DS_Store
.vscode/
.idea/
*.local
count.txt